version: 2.1

orbs:
  win: circleci/windows@1.0.0

jobs:
  build:
    docker:
      - image: circleci/golang:1.13
    environment:
      TEST_RESULTS: /tmp/test-results
    steps:
      - checkout
      - run: go get -u golang.org/x/lint/golint
      - run: sudo apt-get update
      - run: sudo apt-get install qemu-system-x86
      - run: go get -u github.com/jstemmer/go-junit-report
      - run: make deps
      - run: ./hack/verify-gofmt.sh
      - run: ./hack/verify-govet.sh
      - run: ./hack/verify-golint.sh
      - run: mkdir -p $TEST_RESULTS
      - run: go run ops.go update
      - run:
          name : run unit tests
          command: |
            trap "go-junit-report <${TEST_RESULTS}/go-test.out > ${TEST_RESULTS}/go-test-report.xml" EXIT
            make test | tee ${TEST_RESULTS}/go-test.out
  build-mac:
    macos:
        xcode: "12.2.0"
    steps:
      - checkout
      - run: CI=1 /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
      - run: brew update && brew install go && brew tap nanovms/homebrew-qemu && brew install nanovms/homebrew-qemu/qemu
      - run: make deps
      - run: mkdir -p $TEST_RESULTS
      - run:
          name: macbuild
          command: |
            trap "go-junit-report <${TEST_RESULTS}/go-test.out > ${TEST_RESULTS}/go-test-report.xml" EXIT
            make test | tee ${TEST_RESULTS}/go-test.out
  build-windows:
    executor: win/vs2019
    steps:
      - checkout
      - run:
        command: |
          go build
